<link rel="stylesheet" href="../assets/css/search.css">

<div class="inputs">
  <form>
    <input type="text" placeholder="Beer Name" ng-model='vm.beerName'>
    <button class="waves-effect waves-light btn brown" ng-click='vm.searchBeer(vm.beerName)'>Find Brews</button>
  </form>
</div>
<table class='highlight'>
  <thead class='table-header'>
    <tr>
      <th ng-click="vm.orderByField='name'; vm.reverseSort=!vm.reverseSort" data-field="name">Name</th>
      <th ng-click="vm.orderByField='pic'; vm.reverseSort=!vm.reverseSort" data-field="pic">Label?</th>
      <th ng-click="vm.orderByField='style.name'; vm.reverseSort=!vm.reverseSort" data-field="style">Style</th>
      <th ng-click="vm.orderByField='abv'; vm.reverseSort=!vm.reverseSort" data-field="abv">ABV</th>
    </tr>
  </thead>
  <tbody class='table-element'>
    <tr ng-repeat-start="beer in vm.beerArr | orderBy:vm.orderByField:vm.reverseSort" ng-if="beer.style.name && beer.abv" ng-click="beer.detail=!beer.detail">
      <td>{{beer.name}}</td>
      <td>{{beer.pic}}</td>
      <td>{{beer.style.name || 'N/A'}}</td>
      <td>{{beer.abv || 'N/A' | number}}</td>
    </tr>
    <tr class="animate-show" ng-repeat-end="" ng-show="beer.detail">
      <td class="dropdown-td" colspan="3">
        <div class="row dropdown-div">
          <div class="col s4 label">
            <img src="{{beer.labels.medium}}" alt="No Label Available">
          </div>
          <div class="col s8">
            <div class='info'>
              IBU: {{beer.ibu || 'N/A'}}
            </div>
            <div class='description'>
              {{beer.description}}
              <button ng-show="vm.beerCheck(beer.id)" ng-click="vm.createBeer(beer)">Save Brew</button>
            </div>
          </div>
          <div class="col s1">
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

