<script src="../assets/js/home.js"></script>
<link rel="stylesheet" href="../assets/css/home.css">

<div class="valign-wrapper content" id="content1">
  <div class="valign content-box" id="content-box1">
    <div class="center-align">
      Welcome to Brew Genius! Sign up to start looking for beers you
      might like to try through our "Find Brews" feature all powered by
      BreweryDB! BreweryDB is publicly available crowdsourced database
      of beer! Build up a fridge full of wish list beer that you can
      discover here on Brew Genius!
    </div>
  </div>
  <div class="valign content-box" id="content-box2">
    <div class="left-align">
      <img src="../assets/img/beer_logo.png" alt="">
      <h1>
        Brew Genius
      </h1>
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="../assets/img/beer-barrels.jpg"></div>
</div>
<div class="valign-wrapper content" id="content2">
  <div class="valign content-box">
    <p class="center-align">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum totam doloremque enim unde exercitationem natus atque reiciendis expedita perferendis, ipsum amet recusandae eius facilis veniam distinctio sapiente repellendus aut doloribus!
    </p>
  </div>
  <div class="valign content-box">
    <p class="center-align">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora temporibus eveniet quaerat nemo amet impedit, provident odio, inventore maxime excepturi hic illo? A repudiandae laborum debitis, dicta eligendi iste maxime!
    </p>
  </div>
</div>



