@font-face {
  font-family: steelWorks;
  src: url(../fonts/steel_works_vintage.ttf);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer > div {
  padding-bottom: 15px;
  padding-left: 10px;
}

.nav-wrapper {
  padding: 0 10px 0 10px;
  font-size: 200%;
}

.nav-wrapper .brand-logo img {
  position: relative;
  height: 45px;
  top: 10px;
}

.logo-name {
  position: relative;
  left: 50px;
  font-family: steelWorks;
}
